RewriteOptions inherit

RewriteEngine On

Order deny,allow
Allow from all
Deny from 192.168.1.5
Deny from 192.168.1.25

# Redirect temporário
RewriteCond %{HTTP_HOST} ^sergioleitao\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sergioleitao\.com\.br$
RewriteRule ^/?$ "https\:\/\/sergioleitao\.com\.br\/pages\/em\-breve\.html" [R=302,L]

#RewriteCond %{HTTP_HOST} ^sergioleitao.com.br/dev/$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.sergioleitao.com.br/dev/$
#RewriteRule ^(.*)$ https://dev.sergioleitao.com.br/$1 [L,R=301]

